.nav-bar,
.nav-bar * {
  box-sizing: border-box;
}
.nav-bar {
  background: var(--off-black, #111111);
  height: 148px;
  position: relative;
  overflow: hidden;
}
.logo {
  width: 242px;
  height: 75px;
  position: absolute;
  left: 114px;
  top: 37px;
  overflow: visible;
}
.frame-2 {
  padding: 0px 25px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 682px;
  position: absolute;
  left: 798px;
  top: 63px;
}
.group-12 {
  flex-shrink: 0;
  width: 50px;
  height: 36px;
  position: static;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-132 {
  background: #afed00;
  position: absolute;
  right: 94.28%;
  left: 0.15%;
  width: 5.57%;
  bottom: 0%;
  top: 88.89%;
  height: 11.11%;
}
.catalogs {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
}
.collections {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-2-font-family, "RobotoCondensed-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 20px);
  font-weight: var(--heading-2-font-weight, 700);
  position: relative;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1657px;
  top: 57px;
}
.icon-cart {
  flex-shrink: 0;
  width: 37.07px;
  height: 33.37px;
  position: relative;
  overflow: visible;
}
.icon-search {
  flex-shrink: 0;
  width: 28.57px;
  height: 28.57px;
  position: relative;
  overflow: visible;
}
.icon-hamburger-menu {
  flex-shrink: 0;
  width: 25px;
  height: 21.43px;
  position: relative;
  overflow: visible;
}



.nav-link {
    color: white;
}






*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}


h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}


h4 {
  font-size: 20px;
  color: #222;
}


h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}









@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}